<h1>About Me</h1>

<h3>I&#039;m Blossom Dugbatey</h3>

<h5> My brief </h5>
<p> The Tech world is like an infinite ladder, dense with unlimited opportunities, <br> 
and as a woman passionate about her growth and intentional about her success, <br>
I am currently in the Tech Accelerator Program organized by Developers in Vogue.<br> 
This program is aimed at training females towards becoming Full Stack Software Developers. </p>

<h5> My Stack </h5>
<p>Currently, I work with Node.js, Express.js, MongoDB, JavaScript, HTML5, CSS3, 
a challenge I try every day to step up to because I believe progress in life is about getting past challenges. </p>

<h5> My push </h5>
<p>My near-obsessive interest in tech has been the motivation that keeps me going,
 and I believe I am gradually getting to the point where I am an efficient and reliable software engineer.</p>

